@{
    ViewBag.Title = "Home Page";
}

<head>
    <script>
        function myFunction() {
            document.getElementById("demo").innerHTML = document.getElementById("comment").value;
            //alert('hi');
        }
        document.onload = function() {hehe()};

        function hehe() {
            window.open("http://example.com/");
        }
    </script>

</head>

<div>


    <p id="demo">
        <h2>TEST</h2>
        @*<script>window.open("http://example.com/");</script>*@
    </p>
    <h2>Écrire commentaire</h2>
    <textarea rows="4" cols="50" id="comment" name="comment"></textarea>
    @*<script>window.open("http://example.com/");</script>*@
    <button type="button" onclick="myFunction()">try it</button>
    <button type="button" onclick="window.open("http://example.com/")">Gotcha</button>

</div>

